body {
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

#clock-section {
 text-align: center;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 800px;
 background-color: black;
}

#clock {
  font-size: 5rem;
  color: #00beef;
}
