#section-header {
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

#clock {
  text-align: center;
  font-family: sans-serif;
  font-size: 75px;
  display: inline-block;
  color: #00beef;
  background-color: black;
}
